<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skin Lesion Segmentation</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css" type="text/css">
</head>
<body>
    <div class="ui container">
        <h1 class="header">Skin Lesion Segmentation</nav>
        <hr>
        <div class="ui container">
            <div class="ui segment">
                <form class="ui form" method="POST" enctype="multipart/form-data" action="/upload">
                    <div class="field required">
                        <label>File</label>
                        <input type="file" name="file" required>
                    </div>
                    <input class="ui button" type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/semantic.min.js" type="text/js"></script>
</body>
</html>